{% extends 'base.html.twig' %}

{% block title %}Modifier Article - Admin{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">
                <i class="fas fa-edit"></i> Modifier l'article
            </h1>

            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                        {{ form_row(form.titre) }}
                        {{ form_row(form.contenu) }}
                        
                        {% if article.image %}
                            <div class="mb-3">
                                <label>Image actuelle :</label><br>
                                <img src="{{ asset('uploads/articles/' ~ article.image) }}" 
                                     alt="{{ article.titre }}" 
                                     class="img-thumbnail" 
                                     style="max-width: 300px;">
                            </div>
                        {% endif %}
                        
                        {{ form_row(form.imageFile) }}
                        {{ form_row(form.specialite) }}
                        {{ form_row(form.tags) }}
                        {{ form_row(form.statut) }}

                        <div class="d-flex justify-content-between mt-4">
                            <a href="{{ path('app_admin_article_index') }}" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Retour
                            </a>
                            <button type="submit" class="btn btn-warning">
                                <i class="fas fa-save"></i> Enregistrer les modifications
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}